<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://kit.fontawesome.com/ee2c50741c.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.js"></script>
</head>
<body>

<!-- JAVASCRIPT -->
<script type="text/javascript">
    const socket = io.connect("http://10.0.0.17:5000");

    socket.on('connect', function () {
        socket.emit('join_room', {username: "{{username}}"});

        let message_input = document.getElementById('mssg');

        document.getElementById('message-send-form').onsubmit = function (e) {
            e.preventDefault();

            let message = message_input.value.trim();

            if (message.length) {
                socket.emit('send_message', {
                    username: "{{ username }}",
                    message: message,
                    color: '{{ color }}'
                })
            }
            message_input.value = '';
            message_input.focus();
        }
    });

    socket.on('receive_message', function (data) {
        console.log(data);
        const newNode = document.createElement('div');
        newNode.className = 'message';
        newNode.style.backgroundColor = `${data.color}`;
        newNode.innerHTML = `<b>${data.username}:&nbsp;</b> ${data.message}`;
        document.getElementById('message-bubble').appendChild(newNode);
    })

    socket.on('join_room_announcement', function (data) {
        console.log(data);
        const newMessage = document.createElement('div');
        newMessage.className = 'message';
        newMessage.style.backgroundColor = 'white';
        newMessage.style.color = 'IndianRed';
        newMessage.innerHTML = `${data.username} has joined the room`;
        document.getElementById('message-bubble').appendChild(newMessage);
    });

    socket.on('log_out_announcement', function(username) {
        console.log(username + " has left the room.");
        const newMessage = document.createElement('div');
        newMessage.className = 'message';
        newMessage.style.backgroundColor = 'white';
        newMessage.style.color = 'IndianRed';
        newMessage.innerHTML = `${username} has left the room`;
        document.getElementById('message-bubble').appendChild(newMessage);
    });

</script>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"><i class="far fa-comments"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/history">History</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/log_out">Log out</a>
            </li>
        </ul>
    </div>
</nav>

<!-- DISPLAY FLASHED MESSAGES -->
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
{% block body %}{% endblock %}

<!-- CHAT -->
<div class="chat-outer">
    <div class="chat-container" id="chat-container">
        <div class="message-bubble overflow-auto" id="message-bubble">
        </div>
        <form class="message-send-form text-center" id="message-send-form">
            <input type="text" class="form-control" id="mssg" name="mssg" placeholder="Type your message here">
            <br>
            <button type="submit" class="btn send-btn btn-dark btn-lg">Send</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>

</body>
</html>